<!DOCTYPE html>
<script src="./vue.js"></script>
<script src="./clipboard.min.js"></script>
<html>
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />

<head>
    <title>File Upload</title>
</head>
<style>
    body {
        padding-left: 10%;
    }

    .line {
        margin-top: 10px;
    }

    .action {
        background-color: #555555;
        color: wheat;
        display: inline-block;
        padding: 4px 30px;
        cursor: pointer;
    }
    .popContent{
        position: absolute;
    left: 50%;
    top: 30%;
    background: white;
    padding: 40px 40px;
    border: 1px solid skyblue;
    border-radius: 10px;
    background-color: #555555;
    color: white;
    opacity: .8;
    }
</style>

<body>
    <h1>File Upload</h1>
    <div id="hello-vue" class="demo">
        <div>
            清空所有内容
            <button @click="clear()">清空</button>
        </div>
        <div style="margin-top: 20px;" v-if="!init" id="myForm" action="">
            <input id="param1" type="file" @change="handleFileUpload" multiple />
            <button @click="onSubmit()">上传</button>
        </div>
        <div style="margin-top: 20px;">
            <textarea v-model="value">

            </textarea>
            <button @click="settext()">保存文本</button>
        </div>
        <div class="list">
            <div class="line" v-for="(item,index) in items" :key="index">
                <div v-if="item.type!='text'">
                    <div @click="download(item.content)" class="action">下载</div> 文件名称: {{item.content}}
                </div>
                <div v-else @click="copy(item.content)">  <span class="action"> 点击复制文本内容:</span><div :id="'content'+index" v-html="(item.content?.slice(0,80)+'...').replace(/\n/g, '<br>')"> </div>
                </div>
            </div>
        </div>
        <iframe width="1%" height="2px" v-if="!init" id="frameName" src="" frameborder="0" name="frameName"></iframe>
        <div v-if="popContent" class="popContent">
            {{popContent}}
        </div>
    </div>
  
</body>
<script type="text/javascript">

    const HelloVueApp = {
        data() {
            return {
                message: 'Hello Vue!!',
                items: [],
                document,
                init: false,
                value: '',
                selectedFile: null,
                popContent:'',
                timer:null
            }
        },
        created() {
            this.getAllData();
            this.document = document.querySelector('#frameName');
        },
        methods: {
            handleFileUpload(event) {
                this.selectedFile = event.target.files[0];
            },
            async getAllData() {
                var all = await fetch('./history');
                console.log(all)
                this.items = await all.json();
            },
            tab() {
                let time = setInterval(() => {
                    let insidedocument = document.querySelector('#frameName');
                    if (insidedocument != this.document) {
                        this.getAllData();
                        setTimeout(() => {
                            this.init = true;
                            setTimeout(() => {
                                this.init = false;
                                this.document = document.querySelector('#frameName');
                            }, 200);
                        }, 1000);
                        clearInterval(time);
                    }
                }, 100)
            },
            download(file) {
                const url = location.href + 'uploads/' + file;
                console.log(url);
                const link = document.createElement('a');
                link.href = url;
                link.download = file;
                link.click();
            },
            copy(text) { 
                copyToClipboard(text)
                this.popContent='已复制';
                clearTimeout(this.timer);
                this.timer=setTimeout(() => {
                    this.popContent='';
                }, 1500);
            },
            settext() {
                if (!this.value) {
                    return
                }
                console.log(this.value);
                fetch('./savetext', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        text: this.value
                    })
                }).then(res => {
                    this.getAllData();
                })
            },
            clear() {
                fetch('./clear').then(res => {
                    this.getAllData();
                })
            },
            async onSubmit() {
                /* json格式提交： */
                // let formData = JSON.stringify(this.formMess);

                /* formData格式提交： */
                const formData = new FormData();
                formData.append('myFiles', this.selectedFile);
                var result = await fetch('./upload?id=' + this.selectedFile.name, {
                    method: 'POST',
                    body: formData
                })
                if (result) {
                    this.getAllData();
                }
            }
        }
    }
    Vue.createApp(HelloVueApp).mount('#hello-vue')
</script>

</html>